<script>
	import { onMount } from 'svelte';
	import { supabase } from '$lib/supabaseClient';


	/**
	 * @type {any[] | null}
	 */
	let forums;

	// $: filteredForums = forums?.filter((element) => element.title.includes(searchText));

	/**
	 * @type {string}
	 */
	let title;
	/**
	 * @type {string}
	 */
	let name;

	/**
	 * @type {string}
	 */
	let detail;

	/**
	 * @type {string}
	 */
	let searchText;

	async function getForums() {
		//select * from forum
		let { data, error: err } = await supabase
			.from('forum')
			.select('*')
			.order('votes', { ascending: false });
		forums = data;
	}

	/**
	 * @param {string} id
	 * @param {number} votes
	 */
	async function voteUp(id, votes) {
		//update forum set votes = 100 where id = 23
		let { data, error } = await supabase
			.from('forum')
			.update({
				votes: votes + 1
			})
			.eq('id', id);
		getForums();
	}

	/**
	 * @param {string} id
	 * @param {number} votes
	 */
	async function voteDown(id, votes) {
		//update forum set votes = 100 where id = 23
		let { data, error } = await supabase
			.from('forum')
			.update({
				votes: votes - 1
			})
			.eq('id', id);
		getForums();
	}

	/**
	 * @param {any} id
	 */
	async function deleteForum(id) {
		let { data, error } = await supabase.from('forum').delete().eq('id', id);
		getForums();
	}

	async function postNewForum() {
		//insert into forum (title, posted_by, detail, votes)
		//values ("halo", "levi", "test halo", 0)
		let { data, error } = await supabase.from('forum').insert({
			title: title,
			posted_by: name,
			detail: detail,
			votes: 0
		});
		getForums();
		title = ''
		name = ''
		detail = ''
		
	}

	onMount(function () {
		getForums();
	});
</script>

<div class="container mx-auto p-8 ml-60 max-w-full">
	<!-- The button to open modal -->
	<label for="my-modal-6" class="btn">Post your discussion</label>

	<!-- Put this part before </body> tag -->
	<input type="checkbox" id="my-modal-6" class="modal-toggle" />
	<div class="modal modal-bottom sm:modal-middle">
		<div class="modal-box">
			<h1 class="text-xl">Post to Forum</h1>
			<input
				type="text"
				placeholder="title"
				class="input input-bordered input-info w-full max-w-xs mt-5"
				bind:value={title}
			/><br />
			<input
				type="text"
				placeholder="name"
				class="input input-bordered input-info w-full max-w-xs mt-5"
				bind:value={name}
			/><br />
			<textarea class="textarea textarea-info mt-5" placeholder="Bio" bind:value={detail} /><br />
			<div class="modal-action">
				<button class="p-2 px-16 mt-5 bg-blue-500 rounded text-white" on:click={postNewForum}
					>Submit</button
				>
				<label for="my-modal-6" class="btn mt-5">Close!</label>
			</div>
		</div>
	</div>

	<div class="w-3/5 mt-10">
		<h1 class="text-3xl	text-bold mb-5">Forums</h1>
		<!-- <input bind:value={searchText} class="p-2 m-2 border rounded" placeholder="Title to search" /> -->
		{#if forums}
			{#each forums as forum}
				<div class="card w-116 bg-blue-500 text-primary-content mb-10">
					<div class="card-body">
						<a href="/forums/{forum.id}">
							<h2 class="card-title">{forum.title}</h2>
						</a>
						<p>{forum.votes} Votes</p>
						<small>Posted by: {forum.posted_by}</small>
						<div class="flex">
							<div class="card-actions m-2">
								<button
									class="btn px-10 bg-green-500"
									on:click={() => voteUp(forum.id, forum.votes)}><img src="https://cdn-icons-png.flaticon.com/512/60/60564.png" class="w-5 mr-2" /> Up</button
								>
							</div>
							<div class="card-actions m-2">
								<button
									class="btn px-10 bg-orange-500"
									on:click={() => voteDown(forum.id, forum.votes)}><img src="https://uxwing.com/wp-content/themes/uxwing/download/arrow-direction/arrow-down-icon.png" class="w-5 mr-2" /> Down</button
								>
							</div>
							<div class="card-actions m-2">
								<button class="btn px-10 bg-red-500" on:click={() => deleteForum(forum.id)}
									><img src="https://cdn-icons-png.flaticon.com/512/860/860829.png" class="w-5 mr-2" /> Delete</button
								>
							</div>
						</div>
					</div>
				</div>
			{/each}
		{/if}
	</div>
</div>
