<script>
	import { page } from '$app/stores';
	import Account from './Account.svelte';
	import Auth from './Auth.svelte';

	let boximg = [
		{
			icon: 'https://img.freepik.com/free-vector/isometric-cryptocurrency-concept-with-bitcoins-people-mining-3d-vector-illustration_1284-29932.jpg?w=2000',
			alte: 'Showcase 1'
		},
		{
			icon: 'https://marlenelecidretattoo.com/wp-content/uploads/2022/08/1_-Illustration-_-Ghani-Pradita-pour-Paperpillar.png',
			alte: 'Showcase 2'
		},
		{
			icon: 'https://www.bloomberglinea.com/resizer/sgijtoBJHgJhElUtwXYqNBrV2W8=/1440x0/filters:format(jpg):quality(70):focal(596x344:606x354)/cloudfront-us-east-1.images.arcpublishing.com/bloomberglinea/KJPSKS3L5NHIDI55TK7YXXOEKI.jpg',
			alte: 'Showcase 3'
		},
		{
			icon: 'https://hd2.tudocdn.net/965725?w=1200&h=900',
			alte: 'Showcase 4'
		}
	];

	let boximg2 = [
		{
			icon: 'https://st4.depositphotos.com/5240153/24135/v/450/depositphotos_241353756-stock-illustration-bitcoin-cryptocurrency-digital-money-business.jpg',
			alte: 'Showcase 5'
		},
		{
			icon: 'https://img.freepik.com/vector-premium/bitcoin-cryptocurrency-que-invierten-crypto-trading-obtienen-ganancias-ganan-precio-bitcoin-empresario-inversionista-que-usa-computadora-intercambiar-crypto-bitcoin-grande-grafico-precios-candelabros_212586-1789.jpg?w=2000',
			alte: 'Showcase 6'
		},
		{
			icon: 'https://pixelplex.io/wp-content/uploads/auto-resized/8209-1000x510.jpg',
			alte: 'Showcase 7'
		},
		{
			icon: 'https://miro.medium.com/max/750/0*eN3c5dmlWxOLZETX.png',
			alte: 'Showcase 8'
		},
		{
			icon: 'https://cdn2.hubspot.net/hubfs/5144425/Crypto%20FB.jpg',
			alte: 'Showcase 9'
		}
	];
</script>
<section class="py-20 text-white bg-black">
	<div class="max-w-screen-xl mx-auto">
		<div class="flex items-center space-x-24">
			<div class="flex flex-col w-1/2">
				<div class="flex flex-col space-y-4">
					<h1 class="text-5xl font-bold font-heading">To the moon together</h1>
					<p>Make The World A Better Place With Cryptocurrency.</p>
				</div>
				<div class="flex mt-12 space-x-3">
					<a href="/login"><button class="w-full p-2 px-10 rounded-lg bg-red-500 hover:bg-green-500">Want to Sign Out?</button></a>
					<a href="/login"><button class="w-full p-2 px-10 rounded-lg bg-blue-500 hover:bg-green-500">Login</button></a>
					
				</div>
			</div>
			<div class="relative w-1/3">
				<img
					src="https://upload.wikimedia.org/wikipedia/commons/9/97/Cryptocurrency_Gold.png"
					class="w-full h-full"
					alt="Crypto"
				/>
			</div>
		</div>
		<div class="flex justify-between mt-32 space-x-24">
			<a href="https://pancakeswap.finance/">
			<img
				src="https://cryptologos.cc/logos/pancakeswap-cake-logo.png"
				class="transform transition duration-300 hover:scale-110 cursor-pointer w-28"
				alt="Pancake Swap"
			/>
		</a>
		<a href="https://uniswap.org/">
			<img
				src="https://cryptologos.cc/logos/uniswap-uni-logo.png"
				class="transform transition duration-300 hover:scale-110 cursor-pointer w-28"
				alt="Uniswap"
			/></a>
			<a href="https://coinmarketcap.com/id/">
			<img
				src="https://s2.coinmarketcap.com/static/img/coins/64x64/9588.png"
				class="transform transition duration-300 hover:scale-110 cursor-pointer w-28"
				alt="coinmar"
			/></a>
			<a href="https://coincet.com/">
			<img
				src="https://s2.coinmarketcap.com/static/img/coins/200x200/5829.png"
				class="transform transition duration-300 hover:scale-110 cursor-pointer w-28"
				alt="Coinket"
			/></a>
			<a href="https://coinmarketcap.com/id/currencies/defi-coin/">
			<img
				src="https://deficoins.io/wp-content/uploads/2021/10/slider-img-1.svg"
				class="transform transition duration-300 hover:scale-110 cursor-pointer w-28"
				alt="Defi Coins"
			/></a>
		</div>
	</div>
</section>


<section class="pt-20 pb-32 bg-black">
	<div class="flex flex-col justify-center space-y-3 text-center text-white">
		<h2 class="text-4xl font-bold font-heading">Nothing Is Faster Than Cryptocurrency.</h2>
	</div>

	<div class="flex flex-col overflow-hidden mt-24 space-y-6">
		<div class="flex space-x-8">
			{#each boximg as bimg}
				<img src={bimg.icon} alt={bimg.alte} class="w-[360px] h-[201px] rounded-2xl" />
			{/each}
		</div>
		<div class="flex space-x-8 -translate-x-72">
			{#each boximg2 as bimg2}
				<img src={bimg2.icon} alt={bimg2.alte} class="w-[360px] h-[201px] rounded-2xl" />
			{/each}
		</div>
	</div>
</section>
