<script>
	import { supabase } from '$lib/supabaseClient';

	let loading = false;
	let email = '';

	const handleLogin = async () => {
		try {
			loading = true;
			const { error } = await supabase.auth.signInWithOtp({ email });
			if (error) throw error;
			alert('Check your email for the login link!');
		} catch (error) {
			if (error instanceof Error) {
				alert(error.message);
			}
		} finally {
			loading = false;
		}
	};
</script>

<!-- <form class="p-4" on:submit|preventDefault={handleLogin}>
	<div>
		<h1 class="text-xl">Authentication</h1>
		<p class="">Sign in via magic link with your email below</p>
		<div class="py-2">
			<input
				class="shadow rounded border p-1"
				type="email"
				placeholder="Your email"
				bind:value={email}
			/>
		</div>
		<div>
			<input
				type="submit"
				class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded "
				value={loading ? 'Loading' : 'Send magic link'}
				disabled={loading}
			/>
		</div>
	</div>
</form> -->

<form on:submit|preventDefault={handleLogin}>
<div class="hero min-h-screen bg-white">
    <div class="hero-content flex-col lg:flex-row-reverse">
      <div class="text-center lg:text-left">
        <h1 class="text-5xl font-bold">Login now!</h1>
        <p class="py-6">Provident cupiditate voluptatem et in. Quaerat fugiat ut assumenda excepturi exercitationem quasi. In deleniti eaque aut repudiandae et a id nisi.</p>
      </div>
      <div class="card flex-shrink-0 w-full max-w-sm shadow-2xl bg-base-100">
        <div class="card-body">
          <div class="form-control">
            <label class="label">
              <span class="label-text">Email</span>
            </label>
            <input type="text" placeholder="email" class="input input-bordered" bind:value={email} />
          </div>
          <div class="form-control mt-6">
            <input
				type="submit"
				class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded "
				value={loading ? 'Loading' : 'Send magic link'}
				disabled={loading}
			/>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
