<script>
// @ts-nocheck

	import { onMount } from 'svelte';
	import { supabase } from '$lib/supabaseClient';
	import { page } from '$app/stores';
	// export let data;

	/**
	 * @type {{ title: any; posted_by: any; detail: any; }}
	 */
	let forum;

	/**
	 * @param {string} id
	 */
	async function getForum(id) {
		let { data, error: err } = await supabase.from('forum').select('*').eq('id', id).single();
		forum = data;
	}

	onMount(function () {
		let id = $page.params.id;
		getForum(id);
	});
</script>

{#if forum}
<div class="card w-156 m-28 p-10 bg-base-200 bordered">
	<div class="card-body">
		<div class="flex">
	  <h1 class="card-title -mt-1 text-2xl font-bold">{forum.title}</h1> <p class="ml-2 mt-1 text-slate-500"> #{forum.id}</p>
	</div>
	  <small>Posted by: {forum.posted_by}</small>
	  <p class="mt-10">{forum.detail}</p>
	</div>
  </div>
{/if}
