<script>
    import { onMount } from 'svelte';
	import { supabase } from '$lib/supabaseClient';
    /**
	 * @type {any[] | null}
	 */
    let coins;
    async function getCoin() {
		//select * from forum
		let { data, error: err } = await supabase
			.from('crypto')
			.select('*')
			.order('name', { ascending: true });
		coins = data;
	}
	onMount(function () {
		getCoin();
	});
  </script>
  
  <div class="overflow-x-auto w-3/4 ml-48">
    <table class="table w-full my-28">
      <!-- head -->
      <thead>
        <tr>
          <th>Coin</th>
          <th>Price</th>
          <th>1 Hour</th>
          <th>24 Hour</th>
          <th>Volume</th>
          <th>Market Cap</th>
          <th />
        </tr>
      </thead>
      <tbody>
        <!-- row 1 -->

        {#if coins}
        {#each coins as coin}
          <tr>
            <td>
              <div class="flex items-center space-x-3">
                <div>
                  <div class="font-bold">{coin.name}</div>
                  <!-- <div class="text-sm opacity-50">United States</div> -->
                </div>
              </div>
            </td>
            <td>
              {coin.price}
            </td>
            <td
              >{#if coin.onehour < 0}
                <span class="text-red-600">{coin.onehour}%</span>
              {:else}
                <span class="text-green-500">{coin.onehour}%</span>
              {/if}</td
            >
            <td
              >{#if coin.twofourhour === "-"}
                <span class="text-red-600">{coin.twofourhour}%</span>
              {:else}
                <span class="text-green-500">{coin.twofourhour}%</span>
              {/if}</td
            >
            <td>{coin.volume}</td>
            <td>{coin.marketcap}</td>
          </tr>
        {/each}
        {/if}
      </tbody>
    </table>
  </div>